.header{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.header > h1{
    width: 120px;
    height: 31px;
}

.header > h1 > a > img{
    width: 120px;
    height: 31px;
    object-fit: cover;
}

.header-middle{
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
}

.menu-list:hover{
    font-weight: bold;
}
